<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>HazTuPedido</title>

        <!-- links externos -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

        <!-- links locales -->
        <link rel="stylesheet" href="../../css/styleIndex.css">
        <link rel="stylesheet" href="../../css/styleAbout.css">

    </head>

    <body><!-- cuerpo de la pagina -->

        <!-- inicio de cabecera -->
        <header>

            <a href="" class="logo"><i class="fas fa-utensils"></i>  SaborMelody</a>

            <nav class="navbar">
                <a href="../../../../index.html">Inicio</a>
                <a href="../../../../index.html#dishes">Platillos Estrella</a>
                <a href="../../../../index.html#menu">Menú</a>
                <a class="active" href="../../../../index.html#about">¿Quiénes somos?</a>
                <a href="../../../../index.html#opinion">Opiniones</a>
                <a href="../login_and_register.html">Inicia sección</a>
            </nav>

            <div class="icons">
                <i class="fas fa-bars" id="menu-bars"></i>
                <i class="fas fa-search" id="search-icon"></i>
                <a href="" class="fas fa-heart"></a>
                <a href="" class="fas fa-shopping-cart"></a>
            </div>

        </header>
        <!-- fin de cabecera -->


        <!-- fomulario de la barra de busqueda -->
        <form action="" id="search-form">

            <input type="search" placeholder="search here..." name="" id="search-box">
            <label for="search-box" class="fas fa-search"></label>
            <i class="fas fa-times" id="close"></i>

        </form>


        <!-- inicio de la seccion de mas informacion -->
        <section class="about" id="about">

            <h3 class="sub-heading"> ¿Quiénes somos? </h3>
            <h1 class="heading"> ¿Por qué elegirnos? </h1>

            <div class="row row-about">
                <div class="image">
                    <img class="image-about" src="../../img/about/img1__chef-2585791_1280__300px.jpg" alt="">
                </div>
                <div class="content content-about">
                    <h3>Experiencia culinaria única</h3>
                    <p>En nuestro restaurante, no solo te ofrecemos comida, sino una experiencia culinaria única y memorable. Nuestros platos son el resultado de una fusión de sabores exquisitos y presentaciones creativas que deleitarán tu paladar y despertarán tus sentidos. Descubre la magia de nuestra cocina, donde cada plato es una obra de arte que te sorprenderá con su sabor, textura, aroma y color. Ven a nuestro restaurante y vive una aventura gastronómica que no olvidarás.</p>
                </div>
            </div>
            <div class="row row-about">
                <div class="content content-about">
                    <h3>Servicio excepcional</h3>
                    <p>En cada visita a nuestro restaurante, te recibirás con un servicio excepcional y personalizado. Nuestro equipo está compuesto por profesionales apasionados por la gastronomía, que te brindarán una atención amable, profesional y dedicada a hacer que tu experiencia sea inolvidable. Tu satisfacción es nuestra prioridad, y nos esforzamos por superar tus expectativas en cada detalle. Desde la reserva hasta la despedida, te haremos sentir especial y bienvenido en nuestro restaurante.</p>
                </div>
                <div class="image">
                    <img class="image-about" src="../../img/about/img2__waitress-6767345_1280__300px.jpg" alt="">
                </div>
            </div>
            <div class="row row-about">
                <div class="image">
                    <img class="image-about" src="../../img/about/img3__hotel-1191725_1280__300px.jpg" alt="">
                </div>
                <div class="content content-about">
                    <h3>Ambiente acogedor</h3>
                    <p>Sumérgete en un ambiente acogedor y relajante en nuestro restaurante, donde cada detalle ha sido cuidadosamente diseñado para crear un espacio cálido y acogedor. Disfruta de la música ambiental, que te acompañará con melodías suaves y agradables. Admira la decoración encantadora, que combina elementos modernos y tradicionales, creando un ambiente elegante y confortable. Respira la atmósfera acogedora, que te invitará a sentirte como en casa mientras saboreas nuestros deliciosos platos. En nuestro restaurante, te ofrecemos un oasis de tranquilidad y placer en medio de la ciudad.</p>
                </div>
            </div>
            <div class="row row-about">
                <div class="content content-about">
                    <h3>Ingredientes frescos y de calidad</h3>
                    <p>En nuestra cocina, solo utilizamos ingredientes frescos, locales y de la más alta calidad para garantizar que cada bocado sea una explosión de sabor y frescura. Nuestro compromiso con la excelencia en la selección de ingredientes se refleja en cada plato que servimos, ofreciéndote una experiencia gastronómica inigualable. Nuestros ingredientes provienen de proveedores locales y ecológicos, que nos aseguran la mejor calidad y el respeto al medio ambiente. Nuestra cocina es artesanal y casera, elaborada con recetas originales y auténticas, que conservan el sabor y la esencia de cada ingrediente.</p>
                </div>
                <div class="image">
                    <img class="image-about" src="../../img/about/img4__spices-1914130_1280__300px.jpg" alt="">
                </div>
            </div>
            <div class="row row-about">
                <div class="image">
                    <img class="image-about" src="../../img/about/img5__istockphoto-985510582-1024x1024__300px.jpg" alt="">
                </div>
                <div class="content content-about">
                    <h3>Variedad de opciones</h3>
                    <p>Explora la diversidad de opciones en nuestro menú, que incluye una amplia variedad de platos para satisfacer todos los gustos y preferencias alimenticias. Desde opciones vegetarianas y saludables hasta platos tradicionales llenos de sabor, encontrarás algo para cada ocasión y cada paladar en nuestro restaurante. ¡Descubre un mundo de sabores en cada visita! Nuestro menú se renueva periódicamente, incorporando platos de temporada y de diferentes regiones, para ofrecerte siempre lo mejor y lo más novedoso. Además, contamos con opciones personalizadas, adaptadas a tus necesidades y alergias alimentarias. En nuestro restaurante, no hay límites para tu gusto.</p>
                </div>
            </div>

        </section>
        <!-- fin de la seccion de mas informacion -->


        <!-- inicio de la seccion de login -->
        <!-- fin de la seccion de login -->


        <!-- scripts externos -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <!-- scripts locales -->
        <script src="../../js/scriptIndex.js"></script>

    </body>

    <footer> <!-- pie de la pagina -->

        <section class="footer footer-about">

            <div class="box-container">

                <div class="credit">
                    copyright &#169 2024 by Eliane Alvarez, Elizabeth Rodríguez y Luis E. Castillo
                </div>

            </div>

        </section>

    </footer>

</html>